
<div class="row">
	<div class="span8">
		<h2>Signing in is easy and secure</h2>
    <img src="http://placehold.it/615x369">
	</div>
	<div class="span4">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well"}) do |f| %>

		<fieldset>
			<legend>Sign In</legend>	  
		<%= f.input :email %>
		<%= f.input :password %>


	  <% if devise_mapping.rememberable? -%>
        <%= f.input :remember_me, as: :boolean, inline_label: "Remember Me", label: false %>
      <% end -%>

	  <%= f.button :submit, "Sign In", class: 'btn' %>
	</fieldset>
	<% end %>

	<div class="span8">
    <%= render "devise/shared/links" %>
	</div>
  
</div>

</div>

<hr class="soften">

<div class="container">

  <div class="marketing">

    <h1>Introducing DevBook.</h1>
    <p class="marketing-byline">Your Social Hang-out for developers and designers.</p>

    <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="http://www.halodev.com/hdx/img/tipsbook_icon.png">
        <h2>HaloDev Presents</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt accusamus quisquam porro assumenda officiis esse alias id adipisci necessitatibus culpa aspernatur error saepe. <a href="#">Halodev</a> and <a href="#">Devbook</a>,utilizes <a href="#">Halodev</a> <a href="#">Halodev</a>, and is managed through <a href="#">Halodev</a></p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="http://www.halodev.com/hdx/img/meetDevs_icon.png">
        <h2>Made for Developers.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt accusamus quisquam porro assumenda officiis esse alias id adipisci necessitatibus culpa aspernatur error in dolorum itaque iusto repellat quam ea saepe.<a href="#">responsive CSS</a> as well.</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="http://www.halodev.com/hdx/img/dev_icon.png">
        <h2>Meet Developers</h2>
        <p>A 12-column responsive <a href="#">grid</a>, dozens of components, <a href="#">JavaScript plugins</a>quisquam porro assumenda <a href="#">Halodev</a> quisquam porro assumenda quisquam porro assumenda quisquam porro assumenda quisquam porro assumenda </p>
      </div>
    </div>

    <hr class="soften">
